<% title = local_assigns[:title] || 'Comments' %>

<div class="row">
  <div class="col-sm">
    <h1><%= title %></h1>
  </div>
</div>
<div class="row">
  <% if comments.any? %>
      <% comments.each do |comment| %>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <p class="card-text"><%= comment.body %></p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <% reaction_links(comment).each do |link| %>
                      <%= link %>
                  <% end %>
                </li>
              </ul>
              <div class="card-body">
                <p class="card-subtitle text-muted"><%= "Commented #{time_ago_in_words(comment.created_at)} ago by #{comment.author_email}" %></p>
                <% comment_links(comment, actions).each do |link| %>
                    <td><%= link %></td>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
  <% else %>
      <div class="col-sm">
        <p>No comments yet.</p>
      </div>
  <% end %>
</div>
