<div class="row" data-post-id="<%=post.id%>" data-view="post-show">
  <div class="col-sm mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.body %></p>
      </div>
      <div class="card-body">
        <p class="card-subtitle text-muted">
          <%= post.published? ? "Published #{time_ago_in_words(post.published_at)} ago" : "Created #{time_ago_in_words(post.created_at)} ago" %>
          <%= "by #{post.author_email}" %>
        </p>
        <div class="actions">
          <% post_links(post, user, [:edit, :publish]).map do |action| %>
              <%= action %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'comments/table', comments: post.comments.select(&:persisted?), user: user, actions: [:edit, :destroy] if post.published? %>
