
<div class="row">
  <div class="col-sm">
    <h1>Post</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= @post.title %></h5>
        <p class="card-text"><%= @post.body %></p>
      </div>
      <div class="card-body">
        <p class="card-subtitle"><%= @post.author_email %></p>
        <p class="card-subtitle"><%= @post.published_at.try(:to_s, :db) %></p>

        <div class="actions">
          <% post_links(@post, [:edit, :publish]).map do |action| %>
              <%= action %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'comments/table', comments: @post.comments, actions: [:show, :edit, :destroy] if @post.published? %>

<% comment_links(@comment, [:new, :back]).map do |action| %>
    <%= action %>
<% end %>
